/* website font: font-family: 'KoHo', sans-serif; */

/*........................HEADER SECTION......................................*/
.head-box {
    height: 200px;
    width: 100%;
    background-color: green;
    margin: 0px;
    padding: 10px;
}

.head-box-logo {
    margin: 0px;
    padding: 0px;
}

.head-box-text h1 {
    text-align: left;
    padding: 0px;
    text-decoration: none;
    font-family: "KoHo", sans-serif;
    font-weight: 500;
    font-size: 60px;
    height: 100px;
    color: black;
    display: block;
}

.head-box-text h2 {
    text-align: left;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    font-family: "KoHo", sans-serif;
    font-weight: 300;
    font-size: 40px;
    height: 80px;
    line-height: 0.3;
    color: gray;
    display: block;
}

/*........................MAP SEARCH BAR SECTION...............................*/

      #description {
        font-family: 'KoHo', sans-serif;
        font-size: 20px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bolders;
      }

      .pac-card {
        margin: 10px 10px 0 0;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        background-color: #fff;
        font-family: 'KoHo', sans-serif;
      }

      #pac-container {
        padding-bottom: 12px;
        margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: 'KoHo', sans-serif;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: yellow;
        font-family: 'KoHo', sans-serif;
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 25px;
        padding: 2px 11px 5px 13px;
        text-overflow: ellipsis;
        width: 500px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      #title {
        color: #fff;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
      #target {
        width: 345px;
      }



/*........................MAP SECTION......................................*/

#map {
    padding: 0px;
    margin: 0;
    min-height: 300px;
}

/*-------------------------SELECTION BUTTONS-----------------------------------*/

.btn {
  width: 200px;
  height: 50px;
  margin: 5px;
  font-family: 'KoHo', sans-serif;
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
}

/* Style the active class, and buttons on mouse-over */
.active, .btn:hover {
  background-color: #666;
  color: white;
}


/*........................FOOTER SECTION......................................*/

.foot-box {
    height: 50px;
    width: 100%;
    background-color: green;
    margin: 0px;
    margin-top: 15px;
}

.foot-box p {
    padding: 0px;
    padding-right: 20px;
    padding-top: 9px;
    margin: 0px;
    font-family: "KoHo", sans-serif;
    color: gray;
    font-size: 14px;
    text-align: right;
}

       
     

/*-------------------------------MEDIA QUERIES--------------------------------*/




